.video {
    background-color: var(--theme-color);
    padding: 100px 0 0 0;
}

.video__preview {
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    
   
}


.video__play {
    background: url('../icons/Play_hover.png');
    width: 130px;
    height: 130px;
    position: absolute;
    z-index: 111;
    left: 50%;
    transform: translateY(-50%)  translateX(-50%);
    cursor: pointer;
    transition: all .7s ease;
    button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        
    }
    
}



.video_player {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}

.video__play svg:hover {
    path {
        fill: #bdae82;
    }
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
    padding: 10px 10px;
    bottom: 0;
}

.play__icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background: url('../../icons/play.svg') no-repeat center / 100%;
    cursor: pointer;
}

.play__icon_pause {
    background: url('../../icons/pause.svg') no-repeat center / 100%;
}

.volume__icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    margin-left: 20px;
    background: url('../../icons/volume.svg') no-repeat center / 100%;
    cursor: pointer;
}

.volume__icon_muted {
    background: url('../../icons/mute.svg') no-repeat center / 100%
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 5px ;
    height: 10px;
    background:  linear-gradient(90deg, rgb(189, 174, 130) 2%, rgb(189, 174, 130) 2%, rgb(200, 200, 200) 2%, rgb(200, 200, 200) 100%);
    outline: none;
    cursor: pointer;
}

.volume_button {
    -webkit-appearance: none;
    border-radius: 5px ;
    height: 10px;
    outline: none;
    cursor: pointer;
    background:  linear-gradient(90deg, rgb(189, 174, 130) 2%, rgb(189, 174, 130) 2%, rgb(200, 200, 200) 2%, rgb(200, 200, 200) 100%);;
}
input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: var(--font-color);
    
    
}
